<button (click)="openLogInModal()">Click to login</button>
<div *ngIf="viewLoginModal">
  <app-login-modal></app-login-modal>
</div>

<button (click)="openSignUpModal()">Click to signup</button>
<div *ngIf="viewSignUpModal">
  <app-sign-up-modal></app-sign-up-modal>
</div>

<meta charset="UTF-8" />
<!-- Set the page to the width of the device and set the zoon level -->
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<title>Penny Pinchers Project</title>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
  crossorigin="anonymous"
/>

<body id="grad1">
  <!---Shows user that is logged in and "About" option to navigate to About page-->
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: #458cff"
    id="grad2"
  >
    <a class="navbar-brand" href="#"
      ><p class="p1" style="color: red; text-shadow: 2px 2px 4px #000000">
        Sign Up
      </p></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a
            class="nav-link"
            href="#"
            style="
              color: white;
              text-shadow: 2px 2px 4px #000000;
              font-size: 20px;
            "
            ><p>About</p>
            <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </div>
  </nav>

  <!-- <div class="page-header">
    <h1>Welcome Page<h1>
    </div> -->

  <!-- CONTAINERS -->
  <!-- container puts padding around itself while container-fluid fills the whole screen. Bootstap grids require a container. -->
  <div class="container" id="ref" style="padding-top: 70px">
    <div class="jumbotron" id="grad3">
      <!--         Row #1              -->
      <div class="row align-items-center">
        <h1>{{ title }}</h1>
      </div>

      <!--         Row #2              -->
      <div class="row align-items-center">
        <!--Column #1-->
        <span class="border border-dark">
          <div class="col-9 col-sm-5 col-lg-9" style="width: 200px">
            <p>Username:</p>
          </div>
        </span>
        <!--Column #2-->
        <div class="col col-lg-2" style="width: 200px">
          <input type="text" />
        </div>
      </div>

      <!--         Row #3              -->
      <div class="row align-items-center">
        <!--Column #1-->
        <span class="border border-dark">
          <div class="col-9 col-sm-5 col-lg-9" style="width: 200px">
            <p>Password:</p>
          </div>
        </span>
        <!--Column #2-->
        <div class="col col-lg-2" style="width: 200px">
          <input type="text" />
        </div>
      </div>

      <!-- Row #5 - Login button -->
      <div class="row align-items-center" align="center" style="padding: 20px">
        <div class="col col-lg-2" style="width: 200px" align="center">
          <!-- <a id="grad2"class="btn btn-primary btn-lg" href="openLogInModal()" role="button" style="background-color:#458CFF;">LogIn</a>-->
          <button
            id="grad2"
            class="btn btn-primary btn-lg"
            style="background-color: #458cff"
            (click)="openLogInModal()"
          >
            Login
          </button>
          <div *ngIf="viewLoginModal">
            <app-login-modal></app-login-modal>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
  </div>
</body>
