.lc {
  font-family: "Lucida Console", "Courier New", monospace;
}

.button {
    width: 250px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 2px;
    cursor: pointer;
    font-size: 25px;
    position:relative;
    bottom:50px;
    left:200px;
    top:230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutButton{
  position: absolute; 
  right: 143px;
  background-color: #654C4F;
}

.app-brand {
  font-size:  40px;
  font-weight: bold;
  color: #A52A2A;
  position: absolute; 
  left: 50px;
}

.profile-container {
  position: absolute; 
  right: 110px;
}

.accountIcon {
  color: #654321;
  font-size: 50px;
}

.imagewrap {
  display:inline-block;
  position:relative;
  bottom:380px;
  right:240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

