.aboutButton {
  position: absolute;
  right: 160px;
  background-color: #654c4f;
}

.app-brand {
  font-size: 40px;
  font-weight: bold;
  color: #a52a2a;
  position: absolute;
  left: 50px;
}

.profile-container {
  position: absolute;
  right: 110px;
}

.accountIcon {
  color: #654321;
  font-size: 50px;
}

.brand-link {
  text-decoration: none;
  color: brown;
}
