<p>login-modal works!</p>

<div id = "login" class = "modal" style="text-align: center;"> 
    <h2> Hello! Returning back to the site? </h2>
    <form>
        <label for ="email">
            <span>Enter your email: </span>
        </label>
        <input type = "text" placeholder="Email" name = "email"><br/><br/>

        <label for ="password">
            <span>Enter your password: </span>
        </label>
        <input type = "text" placeholder="Password" name = "password">

        <p></p>
        <button type = "submit">Login</button>
    </form>
</div>