<h2>Hello! Returning back to the site?</h2>

<form>
    <label for ="email">
        <span>Enter your email: </span>
    </label><br/>
    <input type = "text" placeholder="Email" name = "email"><br/><br/>

    <label for ="password">
        <span>Enter your password: </span>
    </label>
    <br/>
    <input type = "text" placeholder="Password" name = "password"><br/><br/>

    <p>First time user?</p>
    <button (click) = openSignUpDialog()>Sign up</button><br/><br/>
    <button type = "submit" style="float: inline-end;"><a href="list">Login</a></button><br/><br>
    <button (click) = "close()" style="float: right;">Cancel</button>

</form>
