.spacer {
  flex: 1 1 auto;
}

.example-container {
  margin-top: 30pt;
  margin-bottom: 30pt;
}

.save-button {
  margin-top: 20px;
  margin-right: 320px;
  float: right;
}
.cancel-button {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}

.aboutButton{
  position: absolute; 
  right: 200px;
  background-color: #654C4F;
}

.profileButton {
  position: absolute; 
  right: 100px;
  background-color: #F75E50
}
