<table class="table" style="font-size:10pt;">
    <thead>
        <tr>
            <th>Service</th>
            <th width="5%">Reminder</th>
            <th width="5%">Type</th>
            <th width="5%">Price</th>
        </tr>
    </thead>
    <tbody>   
        <tr *ngFor="let item of items" >
            <td>{{item.serviceName}}</td>
            <td>
                <div class="input-group">
                    <span class="input-group-addon" style="border-style:none;">
                    <input type="checkbox">
                    </span>
                </div>  
            </td>
            

        </tr>
    </tbody>
</table>