table {
    margin-left: 250px;
    margin-right: 250px;
    border-spacing: 15px;
    border-collapse: collapse;
    font-size:15pt;
}

td,th {
    padding: 10px;
    border-bottom: 1px solid lightgray; 
    text-align: center;
}

