table {
    margin-left: 300px;
    margin-right: 300px;
    border-spacing: 15px;
    border-collapse: collapse;
    font-size:15pt;
}

td,th {
    padding: 10px;
    border-bottom: 1px solid lightgray; 
    text-align: center;
}


tr:hover {
    background-color: #E8EAF6;
    cursor: pointer;
  }
