<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
  crossorigin="anonymous"
/>

<app-navbar></app-navbar>

<div style="padding-top: 70px;">
    <div class="container" id="div2" >
        <div id="div6">
            <h1 id="h1s">{{userDetail.fname + ' ' + userDetail.lname}}</h1>
        </div>
        <hr class="solid">
        <div id="lc" class="row" style="padding-top:40px; padding-left: 20px;">
            <p style="font-size:40px; text-align: center; color:white">Total Subscriptions: {{totalSubscriptionsCount}}</p>
        </div>
        <div id="div3" class="row">
            <p id="textStyle">Trial Subscriptions: {{totalTrialSubscriptionsCount}}</p>
        </div>
        <div id="div3" class="row">
            <p id="textStyle">Standard Subscriptions: {{totalStandardSubscriptionsCount}}</p>
        </div>
        <div id="div3" class="row">
            <p id="textStyle">Premium Subscriptions: {{totalPremiumSubscriptionsCount}}</p>
        </div>
        <div id="div3" class="row">
            <div class="col" id="div5">
                <a href="/auth/logout" class ='brand-link'>
                    <Button id="buttonStyle">LOGOUT</Button>
                </a>
            </div>
        </div>
        
    </div>
</div>
